<% include partials/header %>

<heade class="jumbotron">
<h1>Welcome to home page bbbb</h1>

</header>

<% campground.forEach(function(camp){ %>
    
    <div>
        <h1> <%= camp.name %></h1>
        <img src="../<%=camp.image %> "> 
    </div>
    

<% }) %>

<p class="btn-success">  <a class="btn-success" href="/">Back</a></p>

<% include partials/footer %>