<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    <title>YelpCamp</title>
</head>
<body>
    <h1>YelpCamp Landing Page</h1>

    <a href="/campgrounds">View All Campgrounds</a>
</body>
</html>