 .thumbnail-small img{
    width: 100%;
    height: 300px;
    padding: 0;
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
}
 .text-center {
    display: flex; 
    flex-wrap: wrap; 
    height: 100%"
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
}

#copyright{
    text-align: center;
}

#delete-form{
    display: inline;
}